@import '../../Constants//constants.scss';

.container {
  margin: 56px 64px;
}

.title {
  font: $FONT_TITLE;
  letter-spacing: 0.6px;
  margin-bottom: 48px;
}

.createClaim__form {
  display: flex;
  flex-direction: column;
  max-width: 45.5%;
  & div {
    margin-bottom: 40px;
  }
}

.lable {
  font: 800 12px/15px 'Inter';
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #adadad;
  margin-bottom: 8px;
}

.typeClime {
  flex: 1 0 auto;
  font: 400 18px/32px sans-serif;
  letter-spacing: 0.6px;
  background: #f0f0f0;
  border-radius: 16px;
  padding: 13px 16px;
  margin-bottom: 40px;
}

.buttonForm {
  display: flex;
  & button {
    margin-right: 24px;
  }
}
