@import '../../Constants//constants.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 56px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 48px;
  & h1 {
    font: $FONT_TITLE;
  }
}

tr {
  display: flex;
  align-items: center;
  border-top: 1px solid #c2c2c2;
  height: 48px;
  & th,
  td {
    flex: 1 1 25%;
    text-align: start;
  }
  & th {
    background: #f1f1f1;
    padding: 17px 24px;
    font: 500 18px/22px Inter, sans-serif;
    color: #2d3436;
    & button {
      margin-left: 16px;
    }
  }
  & td {
    padding: 0 24px;
    font: $FONT_REGULAR;
    & a {
      text-decoration-line: underline;
      color: #148bff;
    }
    .claimType {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 16px;
      background-color: black;
    }
    & .claim__status {
      display: inline-block;
      border-radius: 16px;
      min-width: 124px;
      padding: 8px 0;
      background-color: #148bff;
      text-align: center;
    }
  }

  &:hover {
    background-color: #e1f3ea;
  }
}
