.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #c2c2c2;
  & .headerContainer__search {
    flex: 1 1 auto;
    margin-right: 65px;
    max-width: 585px;
  }
  & .infoPannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.infoPannel__fullName {
  font: 400 14px/32px sans-serif;
  margin-right: 26px;
}
.infoPannel__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  & .infoPannel__item_elips {
    border-radius: 25px;
  }
}
