.headerContainer {
  display: flex;
  justify-content: end;
  & > .infoPannel {
    margin-left: 64px;
  }
}

.infoPannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoPannel__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.infoPannel__item_elips {
  border-radius: 25px;
}
